/* Global use */
@import "./reset.css";

body{
    line-height: 2;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
.introduction{
    h1, h2, h3, h4, h5{
        margin: 20px 0 15px;
        padding-top: 10px;
        line-height: 1.5;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 14px;
    }
}

@mixin aside-offset($obj: all) {
    transition: $obj .35s ease-in-out;
}

.el-textarea__inner{
 font-family:"Microsoft";
 font-size: 14px;
}